{% extends "base.html" %} {% load crispy_forms_tags %} 
{% block title %}Add Beer{% endblock %} 
{% block content %}
<div class='container'>
<div class='form-container'>
  {% if beer_edit %}
  <h1>Edit Beer</h1>
  {% else %}
<h1>Add Beer</h1>
{%endif%}

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
        <div class="">
          {{ form|crispy }}
        </div>
       {% if review_creator %}
        {%endif%}
    {%if beer_creator and beer_edit %}
        <a href="{% url 'beer_delete' pk=beer.id %}"class="btn btn-outline-dark btn-sm"><i class="fas fa-trash-alt"></i></a>
        {%endif%}
        <input class="btn btn-secondary ml-2" type="submit" {%if beer_edit%}value="Save"{%else%}value="Add beer"{%endif%}>
  </form>
</div>
</div>




{% endblock %}
