{% extends 'base.html' %}
{% block content %}
<h1>All Beers</h1>
{% if tag %}
<h2>Posts tagged with "{{tag.name}}"</h2>
{% endif %}
{% for beer in beers %}
<div>
    <h2><a href="{{ beer.get_absolute_url }}">{{ beer.name }}</a></h2>
    <h3>{{ beer.brewery }}</h3>
    <p>{{ beer.strength }}</p>
   <p>Average rating: {{beer.average_rating}}</p>
        <img style="height:200px;" src="{{ beer.image.url }}"></img>
    </div>
    {% if user.is_authenticated %}
    <a class="btn btn-secondary">Add to my list</a>
    {% endif %}
    <p class='tags'>
    Tags: 
    {% for tag in beer.tags.all %}
    <a href="{% url 'beer_list_by_tag' tag.slug %}">{{ tag.name }}</a>
    {% if not forloop.last %}, {% endif %}
   {% endfor %}
</p>
</div>

<hr>

{% endfor %}
{% include "pagination.html" with page=beers %}
{% endblock %}