{% extends 'base.html' %}{% load static %} {% block content %}
<div class='container'>
  <h1 class='subtitle mt-4'>{{user.username}}'s liked beers</h1>
  <div class='row'>
    {% for beer in beers %}
    <div class='col-sm-12 col-md-6 col-lg-3'>
      <div class='beer-container'>
        <div class='row'>
          <div class='col-sm-6 col-lg-12 text-center'>
            {% if beer.image %}
            <a href="{{ beer.get_absolute_url }}"><img src="{{beer.image.url}}" class="beer-img-sm" alt="..."></a> {% else %}
            <a href="{{ beer.get_absolute_url }}"><img src="{% static 'images/logo.png' %}" class="beer-img-sm" alt="..."></a> {% endif %}
          </div>
          <div class='col-sm-6 col-lg-12'>
            <a class='link-header' href="{{ beer.get_absolute_url }}">
              <h3 class="small-heading mt-2 mb-2">{{beer.name}}</h3>
            </a>
            <h4 class='brewery-text'>{{beer.brewery}}, {{beer.country_of_origin}} </h4>
            <p>{{beer.strength}}% ABV</p>
            <p>Added by {{beer.added_by}}</p>
            <div class="">
              {% if beer.tags %} {% for tag in beer.tags.all %}
              <span class='tags'>
                <a href="{% url 'beer_list_by_tag' tag.slug %}">{{ tag.name }}</a> 
              </span> {% endfor %} {%endif%} {% if user_review %}
              <p>{{user_review.rating}}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor %}
  </div>
  {% include "pagination.html" with page=beers %}
</div>

{% endblock %}
